.sec5{
    margin-top: 7rem;
    position: relative;
}
.inner{
    position: relative;
    padding-bottom: 190px;
}
.sec5 .header_overlay{
    position: absolute;
    height: 80%;
    background-image:  linear-gradient(175deg, #F9F0FF 0%, #E2F1FF 100%);
    width: 110%;
    top: 5%;
    left: -5%;
    transform: rotate(-2deg);
    z-index: -1;
}
.sec5 .container{  
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec5 .container .profile{
    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
}
.sec5 .container h2{
    padding-top: 7rem;
    font-size: 23px;
}
.sec5 .container h5{
    padding-bottom: 1rem;
}

@media (max-width:768px){
    .sec5 .container h2{
        font-size: 27px;
    }
 
}
